<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weird Tales Shadowdark Game Jam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main class="container">
        <h1>{{ message }}</h1>
        <p>Itch.io Username: {{ itch_username }}</p>
        <div class="grid">
            {% for image in images %}
                <article>
                    <figure>
                        <a href="{{ image.url }}" class="glightbox" data-gallery="weird-tales" data-title="{{ image.title }}">
                            <img src="{{ image.url }}" alt="{{ image.title }}">
                        </a>
                        <figcaption>{{ image.title }}</figcaption>
                    </figure>
                </article>
            {% endfor %}
        </div>
        <div class="assignment-container">
            <p>We have logged your assigned inspirational <italic>Weird Tales</italic> images! You can come back here and see them by issuing your Itch.io username again at the prior screen!<br><strong>Good luck on the game jam!</strong></p>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true,
        });
    </script>
</body>
</html>
