<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weird Tales Shadowdark Game Jam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main class="container">
        <h1>Get Some Weird Tales Inspiration!</h1>
        <div class="grid">
            {% for image in images %}
                <article>
                    <figure>
                        <a href="{{ image.url }}" class="glightbox" data-gallery="weird-tales" data-title="{{ image.title }}">
                            <img src="{{ image.url }}" alt="{{ image.title }}">
                        </a>
                        <figcaption>{{ image.title }}</figcaption>
                    </figure>
                </article>
            {% endfor %}
        </div>
        <div class="buttons">
            <form method="get" action="/">
                <button type="submit">Give Me More Weird</button>
            </form>
            <form method="get" action="/submit">
                <button type="submit">I'm ready for my game jam assignment...</button>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true,
        });
    </script>
</body>
</html>
